.home {
  background-color: $back;

  .logo {
    width: unit(300);
    height: unit(300);
  }

  .title {
    font-size: unit(40);
    color: $title;
    text-align: center;
    padding-top: unit(60);
  }

  .floor {
    width: unit(250);
  }
}
