.quire {
  .header {
    height: unit(100);
    background-color: white;
    box-shadow: 0 0 5px 0 $back;
  }

  .input {
    width: unit(280);
  }

  .list {
    position: relative;
    padding: unit(15) unit(20) unit(40) unit(20);
    box-sizing: border-box;
    width: 100vw;
    overflow: hidden;

    .mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
      background-color: $mask;
      box-sizing: border-box;
      padding-top: unit(150);
    }

    .item {
      border-bottom: 1px solid $border;
      padding: unit(10) unit(0);

      .label {
        width: unit(115);
        font-weight: 700;
        font-size: unit(14);
        color: $text2;
      }

      .value {
        color: $text;
        font-size: unit(12);
        word-wrap: break-word;
        word-break: break-all;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .quire {
    .ant-form .ant-form-item .ant-form-item-label {
      display: none;
    }

    .ant-form-inline .ant-form-item {
      margin-right: unit(0);
    }

    .list {
      .mask {
        padding-top: unit(200);
      }

      .item {
        .label {
          font-size: unit(12);
        }

        .value {
          font-size: unit(10);
          width: unit(250);
        }
      }
    }
  }
}
