@import '~antd/dist/antd.css';

html,
body {
  padding: 0;
  margin: 0;
}

.page {
  width: 100vw;
  height: 100vh;
}

.flex {
  display: flex;
}

.flex-ac {
  align-items: center;
}

.flex-jc {
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.flex1 {
  flex: 1;
}

@media screen and (min-width: 750px) {
  body {
    --unit: 1px;
  }
}

@media screen and (max-width: 750px) {
  body {
    --unit: 100 / 375 * 1vw;
  }
}
